<!DOCTYPE html> 
<html>
    <head>
        <title>Safely</title>
        <link rel="stylesheet" href="static/abortionresources.css">
    </head>
    <body>
        <div class="banner">
            <img class="logo" src="/static/horizontal-logo.png">
            <nav class="navigation">
                <a class="navitem" href="/homepage">Home</a>
                <a class="navitem" href="/contraceptives">Contraceptives</a>
            </nav>
        </div>
        <h1>Clinics Near You</h1>
        <div class="clinics">
            <div class="single-clinic">
                <img class="clinic_icon" src="clinic_images/las-cruces.jpg">
                <div class="about-clinic">
                    <p class="name"><a href="https://lascruceswomenshealth.com/">Las Cruces Health Center</a></p>
                    <p class="location">2525 S. Telshor Suite 200 Bldg #15 Las Cruces, NM 88011</p>
                    <p class="hours">Weekdays 9am to 5pm</p>
                </div>   
            </div>
            <div class="single-clinic">
                <img class="clinic_icon" src="clinic_images/witchia.jpg">
                <div class="about-clinic">
                    <p class="name"><a href="https://www.plannedparenthood.org/health-center/kansas/wichita/67214/wichita-health-center-2876-90740?utm_campaign=wichita-health-center&utm_medium=organic&utm_source=local-listing">Witchia Health Center</a></p>
                    <p class="location">2226 E Central
                        Wichita, KS 67214</p>
                    <p class="hours">Weekdays and Saturday 8:30am to 6pm</p>
                </div> 
            </div>
            <div class="single-clinic">
                <img class="clinic_icon" src="clinic_images/eubank.jpg" >
                <div class="about-clinic">
                    <p class="name"><a href="https://www.plannedparenthood.org/health-center/new-mexico/albuquerque/87111/eubank-health-center-10036-90210">Eubank Health Center</a></p>
                    <p class="location">4630 Eubank Blvd NE
                        Albuquerque, NM 87111</p>
                    <p class="hours">Weekdays 8:00am to 6pm</p>
                </div> 
            </div>
        </div>
    </body>
</html>