<!DOCTYPE html> 
<html>
    <head>
        <title>Safely</title>
        <link rel="icon" type="image/x-icon" href="/mobile-logo.png">
        <link rel="stylesheet" type="text/css" href="/static/homepage.css">
    </head>
    <body>
        <div class="banner">
            <img class="logo" src="/static/horizontal-logo.png">
            <nav class="navigation">
                <a class="navitem" href="/homepage">Home</a>
                <a class="navitem" href="/contraceptives">Contraceptives</a>
                <a class="navitem" href="/birthcontrol">Birth Control</a>
            </nav>
        </div>
        <h1>Safely</h1>

        <div>big map</div>
        
        <div>
            <p>About Us</p>
            <p>We help secure reproductive rights for women</p>
        </div>
    </body>
</html>